{% extends 'common.twig' %}

{% block onecolumn %}

    <div class="row mt-3">
        <div class="col text-center">
            <h2>Volunteer Registration Form</h2>
        </div>
    </div>
    <div class="row">
        <p class="col text-center text-danger">
            Please note that you must be 18+ to register as a volunteer!
        </p>
    </div>

    <form id="step1" class="w-50" method="POST" action="{{ url }}volunteer/register" enctype="multipart/form-data">

        <input type="hidden" name="id" value="">
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ MAX_FILE_SIZE }}" />

        <h3>Mandatory information</h3>

        <div class="form-group row">
            <label for="name" class="col-4 col-form-label col-form-label-sm">Name <span class="text-danger">(required)</span>:</label>
            <input type="text" class="col-8 form-control form-control-sm" id="name" name="name" required>
        </div>
        <div class="form-group row">
            <label for="email" class="col-4 col-form-label col-form-label-sm">E-mail <span class="text-danger">(required)</span>:</label>
            <input type="email" class="col-8 form-control form-control-sm" id="email" name="email" required>
        </div>
        <div class="form-group row">
            <label for="country" class="col-4 col-form-label col-form-label-sm">Country <span class="text-danger">(required)</span>:</label>
            <select type="text" class="col-8 form-control form-control-sm" name="country" id="country" value="" required>
                {{ countries | raw }}
            </select>
        </div>
        <div class="form-group row">
            <label for="birthdate" class="col-4 col-form-label col-form-label-sm">Date of birth <span class="text-danger">(required)</span>:</label>
            <input type="date" class="col-8 form-control form-control-sm" id="date" name="date" required>
        </div>
        <div class="form-group row">
            <label for="startO" class="col-4 col-form-label col-form-label-sm">Year you started orienteering <span class="text-danger">(required)</span>:</label>
            <input type="number" class="col-8 form-control form-control-sm" id="startO" name="startO" required min="1900" max="2099" step="1">
        </div>
        <div class="form-group">
            <label for="helpDesc" class="col-form-label col-form-label-sm">Explain how you can help as a volunteer <span class="text-danger">(required)</span>:</label>
            <textarea class="form-control form-control-sm" id="helpDesc" name="helpDesc" required rows="4"></textarea>
        </div>

        <p>
            <strong>Disclaimer:</strong> I have filled in my details
            above as accurately as possible. By submitting this form, I state that I am a volunteer in
            developing orienteering. I understand that the IOF cannot be held responsible for my being or not
            being recruited as a volunteer. I also understand that should I choose to accept any offer
            requesting my assistance, the IOF cannot be held responsible for the terms under which I will work
            as a volunteer.
        </p>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="iAgreeWithTerms" name="iAgreeWithTerms" required>
            <label for="iAgreeWithTerms" class="form-check-label"> I have read and understood the above</label>
        </div>

        <div class="text-danger"> Please tick the disclaimer...</div>

        <button type="submit" class="btn btn-primary">Save and continue</button>

    </form>

    <form id="step2" class="w-50" method="POST" action="{{ url }}volunteer/register" enctype="multipart/form-data">

        <input type="hidden" name="id" value="">
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ MAX_FILE_SIZE }}" />

        <h3>Personal details</h3>

        <div class="form-group row">
            <label for="phone" class="col-4 col-form-label col-form-label-sm">Phone:</label>
            <input type="text" class="col-8 form-control form-control-sm" id="phone" name="phone">
        </div>

        <tr>
            <td class="desc">Gender</td>
            <td>: <select size="1" name="gender">
                    <option selected="" value="">--- select ---</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </td>
        </tr>

        <div class="form-group row">
            <label for="nickname" class="col-4 col-form-label col-form-label-sm">Nickname:</label>
            <input type="text" class="col-8 form-control form-control-sm" id="nickname" name="nickname">
        </div>

        <tr>
            <td colspan="2" class="warn">if left blank, your first name  will be assumed as your nickname
            </td>
        </tr>

        <tr>
            <td class="desc">International driving license?</td>
            <td>: <select size="1" name="license">
                    <option selected="" value="">--- select ---</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select></td>
        </tr>

        <div class="form-group row">
            <label for="club" class="col-4 col-form-label col-form-label-sm">Your present club (if any):</label>
            <input type="text" class="col-8 form-control form-control-sm" id="club" name="club">
        </div>

        <button type="submit" class="btn btn-primary">Save and continue</button>

    </form>

    <script type="text/javascript">

        // Data fill code
        $(document).ready(function() {

            {% if data %}
            var data = JSON.parse('{{ data | raw }}');

            // reset form values from json object
            $.each(data, function(name, val){

                var $el = $('[name="'+name+'"]'), type = $el.attr('type');

                switch(type){
                    case 'checkbox':
                        $el.attr('checked', 'checked');
                        break;
                    case 'radio':
                        $el.filter('[value="'+val+'"]').attr('checked', 'checked');
                        break;
                    default:
                        $el.val(val);
                }
            });
            {% endif %}

            $("#step2").hide();

            $("#step1").submit(function(e) {

                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(data)
                    {
                        // switch to next step or display errors
                        console.log(data);
                    }
                });

            });

        });

    </script>

<!--
        <table width="90%" align="center">
            <tbody>
            <tr>
                <td valign="top" width="25%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Disciplines of experience</b></td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="footO" value="1"> Foot-O
                            </td>
                            <td class="desc">
                                <input type="checkbox" name="mtbO" value="1"> MTBO
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="skiO" value="1"> Ski-O
                            </td>
                            <td class="desc">
                                <input type="checkbox" name="trailO" value="1"> Trail-O

                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <br>
                    <table>
                        <tbody>
                        <tr>
                            <td colspan="2" class="desc"><u>Experience as Competitor</u>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Local events</td>
                            <td class="desc">: <select size="1" name="competitorExp[local]">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="none">none</option>
                                    <option value="1 - 50">1 - 50</option>
                                    <option value="51 - 100">51 - 100</option>
                                    <option value="over 100">over 100</option>
                                </select></td>
                        </tr>
                        <tr>
                            <td class="desc">National Championships</td>
                            <td class="desc">: <select size="1" name="competitorExp[national]">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="none">none</option>
                                    <option value="1 - 50">1 - 50</option>
                                    <option value="51 - 100">51 - 100</option>
                                    <option value="over 100">over 100</option>
                                </select></td>
                        </tr>
                        <tr>
                            <td class="desc">International Competitions</td>
                            <td class="desc">: <select size="1" name="competitorExp[international]">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="none">none</option>
                                    <option value="1 - 20">1 - 20</option>
                                    <option value="21 - 50">21 - 50</option>
                                    <option value="over 50">over 50</option>
                                </select></td>
                        </tr>

                        </tbody>
                    </table>
                </td>

                <td valign="top" width="27%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Languages spoken</b>
                                <div class="warn"> (required, even if only listed in "other")</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[English][known]" value="1">English</td>
                            <td class="smradio">
                                <input type="radio" name="languages[English][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[English][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[English][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[French][known]" value="1">French</td>
                            <td class="smradio">
                                <input type="radio" name="languages[French][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[French][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[French][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Spanish][known]" value="1">Spanish</td>
                            <td class="smradio">
                                <input type="radio" name="languages[Spanish][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[Spanish][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[Spanish][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[German][known]" value="1">German</td>
                            <td class="smradio">
                                <input type="radio" name="languages[German][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[German][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[German][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Italian][known]" value="1">Italian</td>
                            <td class="smradio">
                                <input type="radio" name="languages[Italian][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[Italian][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[Italian][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Portuguese][known]" value="1">Portuguese</td>
                            <td class="smradio">
                                <input type="radio" name="languages[Portuguese][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[Portuguese][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[Portuguese][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Scandinavian][known]" value="1">"Scandinavian"</td>
                            <td class="smradio">
                                <input type="radio" name="languages[Scandinavian][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[Scandinavian][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[Scandinavian][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="desc">
                                Other languages?<br>
                                State each language and level, separated by commas below...<br>
                                <input type="text" name="languages[Other]" value="" size="30">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    &nbsp; &nbsp; &nbsp; &nbsp;<table>
                        <tbody>
                        <tr valign="top">
                            <td class="desc"><b>Where to work?</b></td>
                            <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                            <td class="desc"><b>Timing</b></td>
                        </tr>
                        <tr>
                            <td class="smradio">Do you have a preferred destination?
                                <br>If not, just tick "Anywhere"
                            </td>
                            <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                            <td class="desc">
                                For how long can you work?
                                <div class="warn">(leave blank if you can stay more than 6 weeks)</div>
                            </td>
                        </tr>

                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="preferredContinents[Anywhere]" value="1"> Anywhere
                            </td>
                            <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                            <td class="desc">
                                <input type="text" size="3" name="maxWorkDuration" id="maxWorkDuration" value="">
                                weeks
                            </td>
                        </tr>

                        <tr>
                            <td class="desc"><br>
                                <input type="checkbox" name="preferredContinents[North America]" value="1"> North America
                            </td>
                            <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="preferredContinents[South America]" value="1"> South America
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="preferredContinents[Europe]" value="1"> Europe
                            </td>
                            <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="preferredContinents[Asia]" value="1"> Asia
                            </td>
                            <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="preferredContinents[Africa]" value="1"> Africa
                            </td>
                            <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="preferredContinents[Oceania]" value="1"> Oceania
                            </td>
                            <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>

                </td>
                <td valign="top" width="31%">

                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Skills</b>
                                <div class="warn"> &nbsp;(Please tick all relevant to you.
                                    Details are <b>required</b> if skill is ticked)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">* Mapping <br>
                                <div class="warn">Notice that you will be required to upload map samples!
                                </div>
                                <br>
                                <div class="smradio">
                                    <input type="checkbox" name="mappingDesc[Sprint]" value="1"> Sprint <br>
                                    <input type="checkbox" name="mappingDesc[Forest]" value="1"> Forest <br>
                                    <input type="checkbox" name="mappingDesc[MTBO]" value="1"> MTBO<br>
                                    <input type="checkbox" name="mappingDesc[SkiO]" value="1"> Ski-O
                                </div>
                            </td>
                            <td class="smradio">Brief outline of your experience as a mapper
                                <br>
                                <textarea rows="2" cols="30" name="mappingDesc[info]" id="mappingDescInfo" value=""></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                * Coaching<br>
                                <div class="smradio">
                                    <input type="checkbox" name="coachDesc[nationalTeam]" value="1"> National Team<br>
                                    <input type="checkbox" name="coachDesc[clubs]" value="1"> Clubs
                                </div>
                            </td>
                            <td class="smradio">Brief outline of your experience in coaching
                                <br>
                                <textarea rows="2" cols="30" name="coachDesc[info]" id="coachDescInfo" value=""></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                * IT &amp; time-keeping <br>
                                <div class="smradio">
                                    <input type="checkbox" name="itDesc[si]" value="1"> SportIdent <br>
                                    <input type="checkbox" name="itDesc[emit]" value="1"> Emit <br>
                                    <input type="checkbox" name="itDesc[othertime]" value="1"> Other Timekeeping <br>
                                    <input type="checkbox" name="itDesc[gps]" value="1"> GPS Tracking
                                </div>
                            </td>
                            <td class="smradio">Brief details of your IT skills &amp; experience <br>
                                <textarea rows="2" cols="30" name="itDesc[info]" id="itDescInfo" value=""></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                * Event Organising <br>
                                <div class="smradio">
                                    <input type="checkbox" name="eventDesc[club]" value="1"> Club &nbsp; &nbsp;<br>
                                    <input type="checkbox" name="eventDesc[local]" value="1"> Local &nbsp; &nbsp;<br>
                                    <input type="checkbox" name="eventDesc[national]" value="1"> National &nbsp; &nbsp;<br>
                                    <input type="checkbox" name="eventDesc[highLevel]" value="1"> High-Level
                                </div>
                            </td>
                            <td class="smradio">Brief outline of your experience as organiser
                                <br>
                                <textarea rows="2" cols="30" name="eventDesc[info]" id="eventDescInfo" value=""></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                * Teaching experience
                                <br>
                                <div class="smradio">
                                    <input type="checkbox" name="teacherDesc[beginners]" value="1"> Beginners &amp; children <br>
                                    <input type="checkbox" name="teacherDesc[map]" value="1"> Teach how to map<br>
                                    <input type="checkbox" name="teacherDesc[coach]" value="1"> Teach coaching <br>
                                    <input type="checkbox" name="teacherDesc[it]" value="1"> Teach IT &amp; Timekeeping<br>
                                    <input type="checkbox" name="teacherDesc[events]" value="1"> Teach Event Organising
                                </div>
                            </td>
                            <td class="smradio">Brief outline of your experience in teaching
                                <textarea rows="2" cols="30" name="teacherDesc[info]" id="teacherDescInfo" value=""></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                * Other skills? Please explain...
                            </td>
                            <td>
                                <textarea rows="2" cols="30" name="otherSkills" id="otherSkills" value=""></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>O-Work Experience</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Local / National Events
                                <select size="1" name="oworkLocalExp[experience]">
                                    <option selected="" value="">- select -</option>
                                    <option value="none">none</option>
                                    <option value="1 - 10">1 - 10</option>
                                    <option value="11 - 30">11 - 30</option>
                                    <option value="over 30">over 30</option>
                                </select><br>
                                <br>Duties:<br>
                                <div class="smradio">
                                    <input type="checkbox" name="oworkLocalExp[director]" value="1"> Event Director <br>
                                    <input type="checkbox" name="oworkLocalExp[mapper]" value="1"> Mapper / Course Planner <br>
                                    <input type="checkbox" name="oworkLocalExp[it]" value="1"> IT Director <br>
                                    <input type="checkbox" name="oworkLocalExp[advisor]" value="1"> Event Advisor <br>
                                    <input type="checkbox" name="oworkLocalExp[jury]" value="1"> Jury Member <br>
                                    Other duties? State below...<br>
                                    <input type="text" name="oworkLocalExp[other]" value="" size="20">
                                </div>
                            </td>
                            <td class="desc">International Events &nbsp;
                                <select size="1" name="oworkInternationalExp[experience]">
                                    <option selected="" value="">- select -</option>
                                    <option value="none">none</option>
                                    <option value="1 - 10">1 - 10</option>
                                    <option value="11 - 20">11 - 20</option>
                                    <option value="over 20">over 20</option>
                                </select><br>
                                <br>Duties:<br>
                                <div class="smradio">
                                    <input type="checkbox" name="oworkInternationalExp[director]" value="1"> Event Director <br>
                                    <input type="checkbox" name="oworkInternationalExp[mapper]" value="1"> Mapper / Course Planner <br>
                                    <input type="checkbox" name="oworkInternationalExp[it]" value="1"> IT Director <br>
                                    <input type="checkbox" name="oworkInternationalExp[advisor]" value="1"> Event Advisor <br>
                                    <input type="checkbox" name="oworkInternationalExp[jury]" value="1"> Jury Member <br>
                                    Other duties? State below...<br>
                                    <input type="text" name="oworkInternationalExp[info]" value="" size="20">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
                <td valign="top" width="17%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Additional Information</b></td>
                        </tr>
                        <tr>
                            <td class="desc">
                                Skilled in mapping? <br>Upload your "best" maps here...<br>
                                <div class="warn">Required for mappers!</div>
                                <p>(At most 3 maps in PDF format, max file size is 2 Mb)</p>
                                {% if maps %}
                                    <p>Already loaded maps:
                                    {% for map in maps %}
                                        <a href="{{ url }}{{ map }}" target="_blank">Map {{ loop.index }}</a>
                                    {% endfor %}
                                        <br/><span class="warn">New maps will erase previously loaded</span>
                                    </p>
                                {% endif %}
                                <input name="maps[]" type="file" accept=".pdf">
                                <br><br>
                                <input name="maps[]" type="file" accept=".pdf">
                                <br><br>
                                <input name="maps[]" type="file" accept=".pdf">
                                <br><br>

                                Expectations as a volunteer <br>
                                <textarea rows="4" cols="30" name="expectations" id="expectations" value=""></textarea><br><br>
                                Experience abroad? When? Where? What?<br>
                                <textarea rows="4" cols="30" name="abroadExp" id="abroadExp" value=""></textarea><br><br>
                                Seminars, Training Camps attended...<br>
                                <textarea rows="4" cols="30" name="learning" id="learning" value=""></textarea><br><br>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
-->

{% endblock %}
