{% extends 'common.twig' %}

{% block onecolumn %}

    <div align="center">
        <div class="title">{{ title }}</div>
        <br>
        <div class="maincol">Click on Volunteer Nickname for more details</div>
        <br><br>
    </div>

    {% if edit %}
        <input type="button" style="margin-left: 5%; margin-bottom: 15px;" onclick="location.href='{{ url }}volunteer/register';" value="Add volunteer" />
    {% endif %}

    <table width="90%" align="center" border="1" bordercolor="#376FA6">
        <tbody>
            <tr>
                <td class="big-desc">Nickname</td>
                <td class="big-desc">Languages</td>
                <td class="big-desc">When can start</td>
                <td class="big-desc">Duration available</td>
                <td class="big-desc">O-Experience</td>
                <td class="big-desc"></td>
            </tr>
            {% for volunteer in volunteers %}
                <tr>
                    <td align="center" class="maincol">
                        {% if edit %}
                            <b>{{ volunteer.nickname is empty ? volunteer.name : volunteer.nickname }}</b>
                        {% else %}
                            <a href="{{ url }}volunteer/preview/{{ volunteer.id }}">
                                <b>{{ volunteer.nickname is empty ? volunteer.name : volunteer.nickname }}</b>
                            </a>
                        {% endif %}
                        {% if not volunteer.active %}
                        <span class="warn"> (disabled)</span>
                        {% endif %}
                    </td>
                    <td class="desc"> {{ volunteer.languages }}</td>
                    <td class="desc">{{ volunteer.timeToStart|slice(0,10) }}</td>
                    <td class="desc">{{ volunteer.maxWorkDuration }} weeks</td>
                    <td class="desc">Started orienteering in {{ volunteer.startO|slice(0,4) }} <br> {{ volunteer.competitorExp }}</td>
                    <td class="desc">
                    {% if edit %}
                        <input type="button" onclick="location.href='{{ url }}volunteer/edit/{{ volunteer.id }}';" value="Edit" />
                        <input type="button" onclick="location.href='{{ url }}volunteer/switch/{{ volunteer.id }}';" value="{{ volunteer.active ? 'Disable' : 'Enable' }}" />
                    {% else %}
                        <input type="button" onclick="location.href='{{ url }}volunteer/preview/{{ volunteer.id }}';" value="Details" />
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not edit and volunteers is not empty %}
        <div align="center" style="margin-top: 15px;">
            <form method="POST" action="{{ url }}volunteer/contactall" enctype="multipart/form-data">
                <input type="hidden" name="list" value="{{ list }}">
                Invite all volunteers to project:
                <select size="1" name="project">
                    {{ projects | raw }}
                </select>
                <input type="submit" value="Contact volunteers"/>
            </form>
        </div>
    {% endif %}

{% endblock %}
