{% extends 'common.twig' %}

{% block onecolumn %}

    <div align="center">
        <div class="title">Volunteer Details</div>
        <br><br>
    </div>

    <table width="90%" align="center" border="1" bordercolor="#376FA6">
        <tbody>
        <tr>
            <td valign="top" width="30%">
                <table>
                    <tbody>
                    <tr valign="top">
                        <td colspan="2" class="big-desc">
                            Volunteer nickname: {{ data.nickname }}
                        </td>
                    </tr>

                    <tr>
                        <td class="desc">
                            Country: {{ data.country }}
                        </td>
                    </tr>

                    <tr>
                        <td class="desc">Age : {{ data.age }}</td>
                    </tr>
                    <tr>
                        <td class="desc">International driving license: {{ data.license }}</td>
                    </tr>
                    </tbody>
                </table>

                <br>

                <table>
                    <tbody>
                    <tr>
                        <td colspan="2" class="big-desc">Languages spoken</td>
                    </tr>
                    <tr>
                        <td class="desc">{{ data.languages }}</td>
                    </tr>
                    </tbody>
                </table>

                <br>

                <table>
                    <tbody>
                    <tr>
                        <td colspan="2" class="big-desc"><br>Work Preferences
                        </td>
                    </tr>

                    <tr>
                        <td class="desc">Preferred destinations: {{ data.preferredContinents }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>

            <td valign="top" width="30%">
                <table>
                    <tbody>
                    <tr>
                        <td class="big-desc">Disciplines of experience</td>
                    </tr>
                    <tr>
                        <td class="desc">
                            {% if data.footO %} Foot-O<br> {% endif %}
                            {% if data.mtbO %} MTBO<br> {% endif %}
                            {% if data.skiO %} Ski-O<br> {% endif %}
                            {% if data.trailO %} Trail-O<br> {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <table>
                    <tbody>
                    <tr>
                        <td class="big-desc">O-Experience
                        </td>
                    </tr>
                    <tr>
                        <td class="desc">{{ data.competitorExp }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </td>

            <td valign="top" width="35%">
                <table>
                    <tbody>
                    <tr>
                        <td class="big-desc">O-Skills</td>
                    </tr>

                    <tr>
                        <td class="desc">{{ data.skills|raw }}</td>
                    </tr>
                    <tr>
                        <td class="desc">
                            <br>
                            <b>How can this Volunteer help you? </b>
                            <br>{{ data.helpDesc }}
                        </td>
                    </tr>
                    <tr>
                        <td class="desc">
                            <br>
                            <b>Expectations as a Volunteer </b>
                            <br>{{ data.expectations }}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>

        </tbody>
    </table>

    <div align="center">
        <input type="button" style="margin-top: 15px;" onclick="location.href='{{ url }}volunteer/contact/{{ data.id }}';" value="Contact volunteer"/>
    </div>

{% endblock %}
