{% extends 'common.twig' %}

{% block onecolumn %}
    <section class="default">
        <div class="container">

            <div class="titleWrap">
                <h1 class="title pb-0"><img class="title-icon" src="{{ url }}images/icon-search5.svg" width="65" height="65"> {{ title }}</h1>
            </div>
            {#<div >Click on Guest name for more details</div>#}
            {#<br><br>#}

            {% if edit %}
                <input type="button" class="mb-3" onclick="location.href='{{ url }}guest/register';" value="Add guest" />
            {% endif %}

            <table    class="table">
                <tbody>
                    <tr>
                        <td class="big-desc">Name</td>
                        <td class="big-desc">Country</td>
                        <td class="big-desc">Languages</td>
                        <td class="big-desc">Gender</td>
                        <td class="big-desc">O-start year</td>
                        <td class="big-desc">Motivation</td>
                        <td class="big-desc">Expectations</td>
                        <td class="big-desc"></td>
                    </tr>
                    {% for guest in guests %}
                        <tr>
                            <td class="desc">
                                {{ guest.name }}
                                {% if not guest.active %}
                                    <span class="warn"> (disabled)</span>
                                {% endif %}
                            </td>
                            <td class="desc">{{ guest.country }}</td>
                            <td class="desc">{{ guest.languages }}</td>
                            <td class="desc">{{ guest.gender }}</td>
                            <td class="desc">{{ guest.startO }}</td>
                            <td class="desc">{{ guest.motivation }}</td>
                            <td class="desc">{{ guest.oExpectations }}</td>
                            <td class="desc">
                                {% if edit %}
                                <input type="button" onclick="location.href='{{ url }}guest/edit/{{ guest.id }}';" value="Edit" />
                                <input type="button" onclick="location.href='{{ url }}guest/switch/{{ guest.id }}';" value="{{ guest.active ? 'Disable' : 'Enable' }}" />
                                {% else %}
                                <input type="button" onclick="location.href='{{ url }}guest/preview/{{ guest.id }}';" value="Details" />
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section>

{% endblock %}
