{% extends 'common.twig' %}

{% block onecolumn %}

<div align="center">
    <div class="title">Guest details</div>
</div>

<table width="90%" align="center" border="1" bordercolor="#376FA6">
    <tbody>
    <tr>
        <td valign="top" width="50%">

            <table>
                <tbody>
                <tr valign="top">
                    <td colspan="2" class="big-desc">
                        Name: {{ data.name }}
                    </td>
                </tr>
                <tr>
                    <td class="desc">Gender: {{ data.gender }}</td>
                </tr>
                <tr>
                    <td class="desc">
                        Country: {{ data.country }}
                    </td>
                </tr>
                {% if visit %}
                <tr>
                    <td class="desc">Contact : {{ data.email }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>

            <br>

            <table>
                <tbody>
                <tr>
                    <td colspan="2" class="big-desc">Languages</td>
                </tr>
                <tr>
                    <td class="desc">{{ data.languages }}</td>
                </tr>
                </tbody>
            </table>

            <br>

            <table>
                <tbody>
                <tr>
                    <td colspan="2" class="big-desc"><br>General details
                    </td>
                </tr>
                <tr>
                    <td class="desc">started orienteering from: {{ data.startO }}</td>
                </tr>
                </tbody>
            </table>
        </td>

        <td valign="top" width="50%">
            <table>
                <tbody>
                <tr>
                    <td class="desc">
                        <b>Expectations</b>
                        <br>{{ data.oExpectations }}
                        <br>
                    </td>
                </tr>
                <tr>
                    <td class="desc">
                        <b>Motivation</b>
                        <br>{{ data.motivation }}
                        <br>
                    </td>
                </tr>
                <tr>
                    <td class="desc">
                        <b>Health restrictions</b>
                        <br>{{ data.healthRestrictions }}
                        <br>
                    </td>
                </tr>
                <tr>
                    <td class="desc">
                        <b>What I can offer</b>
                        <br>{{ data.offer }}
                        <br>
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>

    </tbody>
</table>

    {% if not visit %}
        <div align="center" style="margin-top: 15px;">
            <form method="POST" action="{{ url }}guest/contact" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ data.id }}">
                Contact guest from host:
                <select size="1" name="choice">
                    {{ choices | raw }}
                </select>
                <input type="submit" value="Contact"/>
            </form>
        </div>
    {% endif %}

{% endblock %}
