{% extends 'common.twig' %}

{% block onecolumn %}
    <section class="default">
        <div class="container">

            <div class="titleWrap">
                <h1 class="title pb-0"><img class="title-icon" src="{{ url }}images/icon-search5.svg" width="65" height="65"> Guest details</h1>
            </div>

            <table    class="table">
                <tbody>
                    <tr>
                        <td class="big-desc">
                            Guest
                        </td>
                        <td class="big-desc">
                            Languages
                        </td>
                        <td class="big-desc">
                            General details
                        </td>
                        <td class="big-desc">
                            Expectations
                        </td>
                        <td class="big-desc">
                            Motivation
                        </td>
                        <td class="big-desc">
                            Health restrictions
                        </td>
                        <td class="big-desc">
                            What I can offer
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Name:</b> {{ data.name }}
                            <br>
                            <br>
                            <b>Gender:</b> {{ data.gender }}
                            <br>
                            <br>
                            <b>Country:</b> {{ data.country }}
                            {% if visit %}
                                <br>
                                <br>
                                <b>Contact:</b> {{ data.email }}
                            {% endif %}
                        </td>
                        <td>
                            {{ data.languages }}
                        </td>
                        <td>
                            started orienteering from: {{ data.startO }}
                        </td>
                        <td>
                            {{ data.oExpectations }}
                        </td>
                        <td>
                            {{ data.motivation }}
                        </td>
                        <td>
                            {{ data.healthRestrictions }}
                        </td>
                        <td>
                            {{ data.offer }}
                        </td>
                    </tr>
                </tbody>
            </table>

            {% if not visit %}
                <div class="mt-3">
                    <form class="d-flex flex-column align-items-start" method="POST" action="{{ url }}guest/contact" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <p>Contact guest from host:</p>
                        <div class="selectWrap">
                            <select size="1" name="choice">
                                {{ choices | raw }}
                            </select>
                        </div>
                        <input class="mt-3" type="submit" value="Contact"/>
                    </form>
                </div>
            {% endif %}

        </div>
    </section>

{% endblock %}
