<!-- Register modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registerForm" method="POST" action="{{ url }}register">
                    <p align="center" class="big-desc">All fields are required!</p>
                    <div class="form-group row desc">
                        <label class="col-3 col-form-label col-form-label-sm" for="name">Name<span class="warn-title">*</span>: </label>
                        <div class="col-9">
                            <input class="form-control form-control-sm" type="text" name="name" size="20" required>
                        </div>
                    </div>
                    <div class="form-group row desc">
                        <label class="col-3 col-form-label col-form-label-sm" for="name">Country<span class="warn-title">*</span>: </label>
                        <div class="col-9">
                            <select class="form-control form-control-sm" type="text" name="country" id="country" required></select>
                        </div>
                    </div>
                    <div class="form-group row desc">
                        <label class="col-3 col-form-label col-form-label-sm" for="name">E-mail<span class="warn-title">*</span>: </label>
                        <div class="col-9">
                            <input class="form-control form-control-sm" type="text" name="email" size="20" required>
                        </div>
                    </div>
                    <div class="form-group row desc">
                        <label class="col-3 col-form-label col-form-label-sm" for="name">Username<span class="warn-title">*</span>: </label>
                        <div class="col-9">
                            <input class="form-control form-control-sm" type="text" name="login" size="20" required>
                        </div>
                    </div>
                    <div class="form-group row desc">
                        <label class="col-3 col-form-label col-form-label-sm" for="name">Password<span class="warn-title">*</span>: </label>
                        <div class="col-9">
                            <input class="form-control form-control-sm" type="password" name="password" size="20" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Sign in modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="signinForm" method="POST" action="{{ url }}signin">
                    <p align="center" class="big-desc">You may sign in using your e-mail or username and password...</p>
                    <div class="form-group row desc">
                        <label class="col-3 col-form-label col-form-label-sm" for="login">Username / E-mail: </label>
                        <div class="col-9">
                            <input class="form-control form-control-sm" type="text" name="login" size="20" required>
                        </div>
                    </div>
                    <div class="form-group row desc">
                        <label class="col-3 col-form-label col-form-label-sm" for="password">Password: </label>
                        <div class="col-9">
                            <input class="form-control form-control-sm" type="password" name="password" size="20" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in!</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ url }}restore" class="text-right text-info" id="restore-password">Restore password</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="buttonsBlock">
    <div class="row justify-content-center text-center mt-3">
    {% if loggedIn == true %}
        <a href="{{ url }}changepass" class="text-right text-info" id="changepass">Change Password</a>
        <div class="col">
            <a class="btn btn-info btn-lg" href="{{ url }}logout" role="button" id="logout">Logout</a>
        </div>
    {% else %}
        <div class="col">
            <button type="button" class="btn btn-info btn-lg" id="register" data-toggle="modal" data-target="#registerModal">
                New User
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-info btn-lg" id="signIn" data-toggle="modal" data-target="#loginModal">
                Sign In
            </button>
        </div>
    {% endif %}
    </div>
</div>

<div id="photos_carousel" class="carousel slide pt-4" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="{{ url }}images/project1s.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="{{ url }}images/project2s.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="{{ url }}images/project3s.jpg" alt="Third slide">
        </div>
    </div>
</div>

<div class="pt-4">
    <table align="center" border="0" cellpadding="0" cellspacing="10" width="75%" bgcolor="#E7FCFE">
        <tr>
            <td align="center" class="smradio"><b> Impressions, Experiences... </b></td>
        </tr>
        <tr>
            <td class="desc">
                <marquee direction="up" scrollamount="1" behavior="scroll" height="200">
                        "Orienteering has always been and remains to be my favorite activity. I started orienteering in 1978
                        and I am still an active orienteer, mainly in Foot-O. I regularly take a part in events at various
                        levels, from local events to WMOC. I have prepared an MBTO map for the Albanian Orienteering
                        Project. It is nice to get the opportunity to be involved in the development of orienteering in a
                        country I have never been to."<br>
                        <b>Alexey Zuev, Volunteer, Russia</b><br><br>
                        "The IOF Global Orienteering Volunteer Project is great for me, as apart from some help from friends
                        from Austria, this is the first time I am not the only expert here in Albania. It gives me the
                        feeling of being recognised in my work and motivates me to do more."<br>
                        <b>Inge Bosina, Project Leader, Albanian Orienteering Project</b><br><br>
                        "Wow this has taken off! I knew it would. My dream has come true. I have been asking people to do
                        something world wide at IOF level like this for many years. You have done very well."<br>
                        <b>David Poland, Project Leader, Orienteering Scholarship Australia</b><br><br>

                        "I would like to thank you for great experience we have had as volunteers for Navigation Games in
                        the United States. Me and my husband Josivan Juan, are grateful for this opportunity given by IOF
                        Global Orienteering Volunteer Platform."<br>
                        <b>Pavla Zdrahalova, Volunteer, Czech Republic</b>

                </marquee>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">

$( document ).ready(function() {

    $('#photos_carousel').carousel({
        interval: 2000
    });

    // load countries list
    $.get( '{{ url }}countries', function(data) { $('#country').empty().append(data); });

});

</script>
