<div align="center">
    <div class="title">Host details</div>
</div>

<table width="90%" align="center" border="1" bordercolor="#376FA6">
    <tbody>
    <tr>
        <td valign="top" width="30%">

            <table>
                <tbody>
                <tr valign="top">
                    <td colspan="2" class="big-desc">
                        Project organisation: {{ data.name }}, {{ data.status }}, ({{ data.webpage }})
                    </td>
                </tr>

                <tr>
                    <td class="desc">
                        Region: {{ data.region }}
                    </td>
                </tr>

                <tr>
                    <td class="desc">Contact : {{ data.contact }} ({{ data.email }}, {{ data.phone }})</td>
                </tr>
                <tr>
                    <td class="desc">Location: {{ data.place }}</td>
                </tr>
                </tbody>
            </table>

            <br>

            <table>
                <tbody>
                <tr>
                    <td colspan="2" class="big-desc">Expected languages</td>
                </tr>
                <tr>
                    <td class="desc">{{ data.expectedLanguage }}</td>
                </tr>
                </tbody>
            </table>

            <br>

            <table>
                <tbody>
                <tr>
                    <td colspan="2" class="big-desc"><br>General details
                    </td>
                </tr>
                <tr>
                    <td class="desc">How long: {{ data.how_long }} weeks</td>
                </tr>
                <tr>
                    <td class="desc">Description: {{ data.details }}</td>
                </tr>
                </tbody>
            </table>
        </td>

        <td valign="top" width="30%">
            <table>
                <tbody>
                <tr>
                    <td class="big-desc">Expected disciplines of experience</td>
                </tr>
                <tr>
                    <td class="desc">
                        {% if data.footO %} Foot-O<br> {% endif %}
                        {% if data.mtbO %} MTBO<br> {% endif %}
                        {% if data.skiO %} Ski-O<br> {% endif %}
                        {% if data.trailO %} Trail-O<br> {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <table>
                <tbody>
                <tr>
                    <td class="big-desc">Expected o-experience
                    </td>
                </tr>
                <tr>
                    <td class="desc">{{ data.expirience }}
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </td>

        <td valign="top" width="35%">
            <table>
                <tbody>
                <tr>
                    <td class="desc">
                        <br>
                        <b>What we can offer </b>
                        <br>{{ data.offer }}
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>

    </tbody>
</table>
