{% extends 'common.twig' %}

{% block onecolumn %}

<div align="center">
    <div class="title">Host details</div>
</div>

<table width="90%" align="center" border="1" bordercolor="#376FA6">
    <tbody>
    <tr>
        <td valign="top" width="50%">

            <table>
                <tbody>
                <tr valign="top">
                    <td colspan="2" class="big-desc">
                        Name: {{ data.name }}
                    </td>
                </tr>
                <tr>
                    <td class="desc">Country: {{ data.country }}</td>
                </tr>
                <tr>
                    <td class="desc">E-mail : {{ data.email }}</td>
                    <br>
                </tr>
                {% if visit %}
                <tr>
                    <td class="big-desc">Contacts</td>
                </tr>
                <tr>
                    <td class="desc">{{ data.contacts | raw }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>

            <br>

            <table>
                <tbody>
                <tr>
                    <td colspan="2" class="big-desc">Languages</td>
                </tr>
                <tr>
                    <td class="desc">{{ data.languages }}</td>
                </tr>
                </tbody>
            </table>

        </td>

        <td valign="top" width="50%">
            <table>
                <tbody>
                <tr>
                    <td colspan="2" class="big-desc">Offers</td>
                </tr>
                <tr>
                    <td class="desc">{{ data.offer | raw }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <table>
                <tbody>
                <tr>
                    <td class="desc">Max duration (weeks) : {{ data.maxDuration }}<br></td>
                </tr>
                <tr>
                    <td class="big-desc">Host description :</td>
                </tr>
                <tr>
                    <td class="desc">{{ data.hostDesc }}<br></td>
                </tr>
                <tr>
                    <td class="big-desc">Guest expectations:</td>
                </tr>
                <tr>
                    <td class="desc">{{ data.guestExpectations }}</td>
                </tr>
                </tbody>
            </table>
            <br>
        </td>

    </tr>

    </tbody>
</table>

    {% if not visit %}
        <div align="center" style="margin-top: 15px;">
            <form method="POST" action="{{ url }}host/contact" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ data.id }}">
                Contact host from guest:
                <select size="1" name="choice">
                    {{ choices | raw }}
                </select>
                <input type="submit" value="Contact"/>
            </form>
        </div>
    {% endif %}

{% endblock %}
