{% extends 'common.twig' %}

{% block onecolumn %}
<section class="default">
    <div class="container">
        <div class="titleWrap">
            <h1 class="title pb-0"><img class="title-icon" src="{{ url }}images/icon-search4.svg" width="65" height="65"> Host details</h1>
        </div>

        <table    class="table">
            <tbody>
                <tr>
                    <td class="big-desc">
                        Host
                    </td>
                    <td class="big-desc">
                        Languages
                    </td>
                    <td class="big-desc">
                        Offers
                    </td>
                    <td class="big-desc">
                        Host description
                    </td>
                    <td class="big-desc">
                        Guest expectations
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Name:</b> {{ data.name }}
                        <br>
                        <br>
                        <b>Country:</b> {{ data.country }}
                        <br>
                        <br>
                        <b>E-mail:</b> {{ data.email }}
                        {% if visit %}
                            <br>
                            <br>
                            <b>Contacts:</b> {{ data.contacts | raw }}
                        {% endif %}
                    </td>
                    <td>
                        {{ data.languages }}
                    </td>
                    <td>
                        {{ data.offer | raw }}
                        <br>
                        <br>
                        <b>Max duration (weeks):</b> {{ data.maxDuration }}
                    </td>
                    <td>
                        {{ data.hostDesc }}
                    </td>
                    <td>
                        {{ data.guestExpectations }}
                    </td>
                </tr>
            </tbody>
        </table>

        {% if not visit %}
            <div class="mt-3">
                <form class="d-flex flex-column align-items-start" method="POST" action="{{ url }}host/contact" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ data.id }}">
                    <p>Contact host from guest:</p>
                    <div class="selectWrap">
                        <select size="1" name="choice">
                            {{ choices | raw }}
                        </select>
                    </div>
                    <input class="mt-3" type="submit" value="Contact"/>
                </form>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
