{% extends 'common.twig' %}

{% block onecolumn %}
<section class="default">
    <div class="container">
        <div class="titleWrap">
            <h1 class="title pb-0"><img class="title-icon" src="{{ url }}images/icon-search3.svg" width="65" height="65"> Project details</h1>
        </div>

        <table    class="table">
            <tbody>
                <tr>
                    <td class="big-desc">
                        Project
                    </td>
                    <td class="big-desc">
                        Expected languages
                    </td>
                    <td class="big-desc">
                        General details
                    </td>
                    <td class="big-desc">
                        Expected disciplines of experience
                    </td>
                    <td class="big-desc">
                        Expected o-experience
                    </td>
                    <td class="big-desc">
                        What we can offer
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Organisation:</b> {{ data.name }}, {{ data.status }}, ({{ data.webpage }})
                        <br>
                        <br>
                        <b>Region:</b> {{ data.region }}
                        <br>
                        <br>
                        {% if visit %}
                        <b>Contact :</b> {{ data.contact }} ({{ data.email }}, {{ data.phone }})
                            <br>
                            <br>
                        {% endif %}
                        <b>Location:</b> {{ data.place }}
                    </td>
                    <td>
                        {{ data.expectedLanguage }}
                    </td>
                    <td>
                        <b>Description:</b> {{ data.details }}
                    </td>
                    <td>
                        {% if data.footO %} Foot-O<br> {% endif %}
                        {% if data.mtbO %} MTBO<br> {% endif %}
                        {% if data.skiO %} Ski-O<br> {% endif %}
                        {% if data.trailO %} Trail-O<br> {% endif %}
                    </td>
                    <td>
                        {{ data.expirience | raw }}
                    </td>
                    <td>
                        {{ data.offer }}
                    </td>
                </tr>
            </tbody>
        </table>

        {% if not visit %}
            <div class="mt-3">
                <form class="d-flex flex-column align-items-start"  method="POST" action="{{ url }}project/contact" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ data.id }}">
                    <p>Contact project leader from volunteer:</p>
                    <div class="selectWrap">
                        <select size="1" name="choice">
                            {{ choices | raw }}
                        </select>
                    </div>
                    <input class="mt-3" type="submit" value="Contact"/>
                </form>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
