<h2>Hello!</h2>

<p>
    {{ from.name }} from {{ from.country }} who is a registered guest in the IOF
    Volunteer Platform is interested in your host {{ to.name }} in
    {{ to.country }}.
</p>

<p>
    If you wish to disable your host, <a href="{{ url }}host/list">click here</a>
</p>

<p>
    If you are still interested in finding guests, you may view the
    details of {{ from.name }} by clicking on the link below. {{ from.name }}'s contact
    details will also be visible on this page, therefore you can contact
    this guest directly.<br>
    Contact link: <a href="{{ url }}guest/visit/{{ key }}">{{ url }}guest/visit/{{ key }}</a>
</p>

<p>Thank you!</p>
<hr>
<p>Best regards, IOF volunteering platform team</p>