<h2>Hello!</h2>
<p>You are invited to paricipate in the orieenteering project from `{{ project.name }}` organisation as volunteer. If you are intrested, just click the link below.</p>
<p><a href="{{ url }}volunteer/visit/{{ key }}">Project description</a></p>
<p>Thank you!</p>
<p>If you don't like this emails, click this <a href="{{ url }}volunteer/exclude/{{ key }}">link</a> to exclude you.</p>
<hr>
<p>Best regards, IOF volunteering platform team</p>